---
layout: default
---

<div class="description">
  <p>When you've played games for as long as I have, eventually you get to the
    point where a lot of the finer details of game design start to stick out.
    I'm here to catalouge some of the more interesting decisions I've come
    across in hopes of inspiring new ways to think about building games. I can't
    guarantee that all my thoughts here will be complete, coherent, or written
    grammatically correctly, but I'll be exploring a lot of different topics
    in a bunch of random games. If that sounds interesting at all, get to
    reading below!
</div>

<div class="posts">
  {% for post in site.categories.ramblings %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <span>&emsp;&emsp;Games mentioned:
        {% for tag in post.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a>
            <code class="highligher-rouge">
              <nobr>{{ tag_name }}</nobr>
            </code>&nbsp;
          </a>
        {% endfor %}
      </span>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
